@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.create-blog-post {
  @include card-pink;
  display: flex;
  flex-direction: column;
  gap: 1.15em;

  .create-blog-post-title {
    text-align: center;
    text-decoration: underline;
    // color: $gray;
  }

  .rich-text-editor {
    // background-color: violet;

    .wrapper-class {
      // padding: 1rem;
      // border: 1px solid $gray-light;
    }

    .toolbar-class {
      border: 1px solid $gray-light;
      border-radius: 0.5rem;
    }

    .editor-class {
      background-color: lightgray;
      padding: 0 0.5rem;
      border: 1px solid $gray-light;
      border-radius: 0.5rem;
      height: 18.75rem;

      &::-webkit-scrollbar {
        width: 0.6em;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
        background-color: grey;
        outline: 1px solid slategrey;
      }
    }
  }

  .create-blog-post-actions {
    display: flex;
    justify-content: center;
    gap: 2.5rem;

    .btn-create-blog-post {
      width: min-content;
      white-space: nowrap;
    }
  }
}
