/* colors */
$black: #040405;
$white: #f9f9f9;
$gray: #565658;
$gray-light: #9a9da1;
$cyan: #0f484f;
$green: #4c7b54;
$green-shade: #08d8b7;
$blue: #1535ac;
$blue-hover: #0d34c2;
$logo-color: #f5a804;
