@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.blog-post-card-container-with-link {
  text-decoration: none;
  opacity: 0.925;
  transition: 0.4s;

  .blog-post-card {
    color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .blog-post-cover-image-container {
      .blog-post-cover-image {
        border-radius: 0.5rem;
        height: 10em;
        object-fit: cover;
        width: 100%;
      }
    }

    .blog-post-title {
      // text-align: center;
      font-weight: 600;
    }

    .blog-post-creator-details {
      font-size: 0.875rem;
      // font-weight: 500;
      color: $gray;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2em;
      // margin-top: 0.25rem;
      // margin-bottom: 1rem;

      .blog-post-creator-user-image {
        height: 1.5em;
        border-radius: 50%;
      }

      .creator-details {
        display: flex;
        gap: 0.25rem;
      }
    }

    .blog-post-dates {
      font-size: 0.75rem;
      font-weight: 300;
      display: flex;
      gap: 0.35rem;
      justify-content: center;
      align-items: center;
    }

    .blog-post-engagements {
      font-size: 0.75rem;
      // font-weight: 300;
      display: flex;
      gap: 0.35rem;
      justify-content: center;
      align-items: center;
    }
  }

  &:hover {
    opacity: 1;
  }
}
