@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.blogs {
  // background-color: lightblue;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .blogs-header {
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5em;
    margin-bottom: 0.75rem;

    .blogs-nav {
      // background-color: violet;
      display: flex;
      gap: 0.25rem;

      .blogs-nav-items {
        text-decoration: none;
        color: inherit;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;

        &:hover {
          background-color: $gray;
          color: $white;
        }
      }

      .active {
        text-decoration: none;
        background-color: $gray-light;
        color: white;
      }
    }

    .filter-blogs {
      // background-color: lightblue;
      font-size: 0.8rem;
      flex-grow: 1;
      display: flex;
      gap: 1.25em;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $gray-light;
      border-right: 1px solid $gray-light;
      margin: 0 1em;
    }

    .btn-subscribe {
      width: min-content;
    }

    .create-blog-btn-container {
      // background-color: red;

      .btn-create-new-post {
        width: min-content;
      }
    }
  }

  .blogs-body {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .trending-blog-container {
      // background-color: lightblue;
    }

    .other-blogs {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 1rem;
      column-gap: 2rem;
    }
  }
}
