@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.view-blog-post {
  // background-color: lightblue;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .view-blog-post-actions-header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .create-button-container-and-filters {
      display: flex;
      gap: 1rem;
      align-items: center;

      .filters {
        display: flex;
        gap: 0.75rem;

        .hashtag {
          white-space: nowrap;
          font-weight: 300;
          font-size: 0.875rem;
        }
      }
    }
  }

  .blog-post-cover-image-container {
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .blog-post-cover-image {
      border-radius: 1em;
      height: 17.5em;
      object-fit: cover;
      width: 100%;
    }
  }

  .details-abt-blog-post {
    font-size: 0.875rem;
    padding: 0.35em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .blog-post-creator-details {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 0.5em;

      .blog-post-creator-user-image {
        height: 3em;
        border-radius: 50%;
      }

      .blog-post-creator-user-name {
        // font-weight: 700;
      }
    }

    .blog-post-metrics {
      // background-color: lightblue;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      justify-content: center;
      align-items: center;
      font-weight: 300;

      .divider {
        // font-weight: 700;
      }

      .metrics-number {
        // text-decoration: italic;
        // font-weight: 900;
      }

      .blog-post-engagements {
        display: flex;
        gap: 0.35rem;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .blog-post-title {
    font-weight: 500;
  }

  .blog-post-content {
    // background-color: lightblue;
    text-align: justify;
    font-weight: 400;
  }

  .blog-post-dates {
    // background-color: lightblue;
    font-weight: 300;
    font-size: 0.875rem;
    display: flex;
    gap: 0.35rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
